@import './modules/variables.scss';
@import './modules/universal.scss';
@import './modules/mixin.scss';

img {
    width: 10rem;
    height: 10rem;
}

.home__modal-header {
    &-img {
        padding: $padding-header-home;
        @include center($justify-content: space-between);
        background-color: gray;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;

        img {
            @include widthImage;
        }
    }
    &-search {
        background-color: aliceblue;
        padding: $padding-header-home;
        @include center;
        
        i {
            position: fixed;
            left: 2.5%;
            color: $color-acento;
        }
        input {
            width: 96%;
            padding: .5rem;
            outline: none;
            border: none;
            border-radius: 2rem;
            font-size: .98rem;
        }
    }
    &-input::placeholder{
        padding-left: 2.8rem;
    }
}
