/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/app/styles/home.scss ***!
  \*******************************************************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Montserrat|Quicksand);
/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/app/styles/home.scss (1) ***!
  \***********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Montserrat|Quicksand);
/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/app/styles/home.scss (2) ***!
  \***********************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat,Quicksand";
}

.home {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.home__modal {
  width: 30%;
}
.home__chat {
  width: 70%;
}

img {
  width: 6rem;
  height: 6rem;
}

.home__modal {
  background-color: #fcfcfc;
}
.home__modal-header-img {
  padding: 0.8rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2DBEB1;
}
.home__modal-header-img span {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
.home__modal-header-img img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.home__modal-header-search {
  background-color: #ededed;
  padding: 0.8rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__modal-header-search i {
  position: absolute;
  left: 2%;
  color: #F84914;
}
.home__modal-header-search input {
  width: 98%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  font-size: 0.98rem;
}
.home__modal-header-input::placeholder {
  padding-left: 2.8rem;
}
.home__modal-description {
  color: #9d9d9d;
}

.home__modal-chat {
  padding: 0.8rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home__modal-chat--active {
  background-color: #ededed;
}
.home__modal-chat-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.home__modal-chat-preview {
  height: 100%;
  width: 78%;
}
.home__modal-chat-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.2rem;
}
.home__modal-chat-contact h4 {
  color: #511684;
}
.home__modal-chat-contact p {
  color: #9d9d9d;
}
.home__modal-chat-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.home__modal-chat-text i {
  color: #F84914;
}

.home__chat {
  position: relative;
  overflow: hidden;
}
.home__chat i {
  color: #F84914;
}
.home__chat-header {
  background-color: #511684;
  display: flex;
  flex-direction: row;
  height: 5rem;
  align-items: center;
  padding: 1.5rem;
}
.home__chat-header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.home__chat-header-userFriend {
  display: flex;
  flex-direction: column;
  color: #fcfcfc;
  margin: 1rem;
}
.home__chat-header-userFriend h4 {
  margin-bottom: 0.3rem;
}
.home__chat-header i {
  margin-left: auto;
}
.home__chat-conversation {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.home__chat-message-user {
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  color: #0C0C0C;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  align-self: flex-end;
}
.home__chat-message-user .hour {
  margin-top: 0.3rem;
  margin-bottom: 0;
  color: #9D9D9D;
  align-self: flex-end;
}
.home__chat-message-userFriend {
  display: flex;
  flex-direction: column;
  background-color: #2DBEB1;
  color: #161515;
  padding: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  align-self: flex-start;
}
.home__chat-message-userFriend .hour {
  margin-top: 0.3rem;
  margin-bottom: 0;
  color: #9D9D9D;
  align-self: flex-end;
}
.home__chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.home__chat-footer i {
  color: #F84914;
  margin: 0.5rem;
}
.home__chat-footer input {
  width: 80%;
  height: 2.5rem;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  outline: none;
}
