@import 'variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $dm-font;
}

.home {
    background-color: paleturquoise;
    display: flex;
    justify-content: space-between;

    &__modal {
        background-color: plum;
        width: 30%;
    }
    &__chat {
        background-color: purple;
        width: 70%;
    }
}