@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');


$primary-color:#2DBEB1;
$secundary-color:#511684 ;
$color-acento:#F84914 ;
$color-font: rgb(34, 34, 34);
$size-body: 1rem;
$dm-font: "Montserrat,Quicksand";

$padding-header-home: .8rem .6rem;